parameters:
    treatPhpDocTypesAsCertain: false
    level: max
    paths:
        - src
        - tests
    typeAliases:
    	TA_C_MiddlewareStoreInterface: 'Hotaruma\Pipeline\Interfaces\MiddlewareStore\MiddlewareStoreInterface'
    	TA_C_MiddlewareInterface: 'Psr\Http\Server\MiddlewareInterface'
    	TA_C_RequestHandlerInterface: 'Psr\Http\Server\RequestHandlerInterface'
    	TA_C_PipelineInterface: 'Hotaruma\Pipeline\Interfaces\Pipeline\PipelineInterface'
    	TA_C_ServerRequestInterface: 'Psr\Http\Message\ServerRequestInterface'
    	TA_C_ResponseInterface: 'Psr\Http\Message\ResponseInterface'

    	TA_MiddlewareStore: 'TA_C_MiddlewareStoreInterface<TA_C_MiddlewareInterface|TA_C_RequestHandlerInterface>'
    	TA_Pipeline: 'TA_C_PipelineInterface<TA_MiddlewareStore>'

    	TA_MiddlewareTypes: 'TA_C_MiddlewareInterface|TA_C_RequestHandlerInterface|class-string<TA_C_MiddlewareInterface|TA_C_RequestHandlerInterface>'
    	TA_RequestHandlerTypes:
    	    'TA_C_RequestHandlerInterface|TA_C_PipelineInterface|callable(TA_C_ServerRequestInterface): TA_C_ResponseInterface|class-string<TA_C_RequestHandlerInterface>'

    	TA_MIddlewareResolverStringType: 'class-string<TA_C_RequestHandlerInterface|TA_C_MiddlewareInterface>'
    	TA_RequestHandlerResolverStringType:
    	    '((callable(TA_C_ServerRequestInterface): TA_C_ResponseInterface)&string)|class-string<TA_C_RequestHandlerInterface|TA_C_PipelineInterface>'
